#about {
  flex-direction: column;

  & .profile {
    height: 7.5rem;
    width: 7.5rem;

    margin-bottom: 1rem;
  }
  
  & .description {
    line-height: 1.7;

    & h1 {
      margin-bottom: 0.5rem;
    }

    & p {
      margin-bottom: 2rem;
    }
  }

  & .info {
    flex-direction: column;

    & p {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

@media (width >= 80em) {
  #about {
    display: flex;
    flex-direction: row;
    align-items: center;

    & .profile {
      height: 11rem;
      width: 11rem;
      margin-bottom: 0;
    }

    & .description {
      width: 24rem;
      margin-right: 21.5rem;
      margin-left: 2rem;

      & p {
        margin-bottom: 0;
      }
    }

    & .info {
      justify-content: center;
    }
  }
}