footer {
  background-color: #FFF;
  font-size: var(--fs-md);
  flex-direction: column;


  & div:nth-child(2) {
    gap: 1rem;
  }
}

@media (width >= 80em) {
  footer {
    max-width: 80rem;
    margin-inline: auto;
    --py-base: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
