* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: inherit;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color-skeleton: #D9D9D9;

  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  --ff-base: 'Poppins', sans-serif;

  --fw-base: 400;
  --fw-bold: 800;

  --fs-header: 2rem;
  --fs-base: 1rem;
  --fs-md: 0.875rem;

  --px-base: 1rem;
  --px-lg: 2rem;

  --py-base: 1rem;
  --py-lg: 2rem;
}

html {
  font-family: var(--ff-base);
  font-weight: var(--fw-base);
  font-size: var(--fs-md);
  color: var(--text-color-secondary);
}

h1 {
  font: var(--fw-bold) var(--fs-header);
  color: var(--text-color-primary);
}

@media (width >= 80em) {
  :root {
    --px-base: 2rem;

    --py-base: 1.25rem;
  }
}