header {
  & nav {
    & div {
      margin-left: auto;

      & a {
        text-decoration: none;
        color: var(--text-color-secondary);

        &:hover {
          text-decoration: underline;
          color: #EF5F4C;

          & svg path {
            fill: #EF5F4C;
          }
        }
      }

      & .profile {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}